<template name="home">
	<h1>Home Page</h1>
	<hr />
	<div class="well">
		<h4>Well Title</h4>
		<p>
			Globally create market-driven scenarios after seamless niche markets. Competently develop holistic scenarios after alternative internal or "organic" sources. Interactively maintain fully tested sources with optimal meta-services. Assertively promote fully tested services whereas multifunctional models. Credibly myocardinate synergistic markets through sticky collaboration and idea-sharing.
		</p>
	</div>
</template>