<template name="lastQuestion">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/question/1" class="list-group-item">
                {{>questionTemplate}}
            </a>
            <a href="/question/1" class="list-group-item">
                {{>questionTemplate}}
            </a>
            <a href="/question/1" class="list-group-item">
                {{>questionTemplate}}
            </a>
            <a href="/question/1" class="list-group-item">
                {{>questionTemplate}}
            </a>
            <a href="/question/1" class="list-group-item">
                {{>questionTemplate}}
            </a>
        </li>
        <div>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>            
        </div>
    </ul>                        
</template>