<template name="questionTemplate">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-xs btn-danger">
                        30<br>
                        <small>
                            Vote
                        </small>
                    </button>
                    <button class="btn btn-xs btn-info">
                        30<br>
                        <small>
                            Answers
                        </small>
                    </button>
                    <button class="btn btn-xs btn-primary">
                        30<br>
                        <small>
                            Views
                        </small>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4 class="list-group-item-heading">
                Question Title
            </h4>
            <p class="list-group-item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim eros, elementum quis vestibulum a, facilisis sit amet ex. Aenean vel vestibulum lorem. Etiam tristique nulla vitae porttitor lacinia.                    
            </p>
        </div>
    </div>    
</template>