<template name="login">
    <br><br><br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Login Panel
                </div>
                <div class="panel-body text-center">
                    <br>
                    <button class="btn btn-default btn-lg">
                        <i class="fa fa-github"></i> Login With GitHub
                    </button>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

</template>