<template name="questionDetail">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Question Title</h1>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
            </p>
            <p>
                <a href="#"><span class="label label-info">#sample</span></a>
                <a href="#"><span class="label label-info">#tag</span></a>
                <a href="#"><span class="label label-info">#php</span></a>
                <a href="#"><span class="label label-info">#laravel</span></a>
            </p>
            <div class="row well">
                <div class="col-md-3">
                    <button class="btn btn-success">
                        <i class="fa fa-thumbs-o-up"></i> 17
                    </button>
                    <button class="btn btn-danger">
                        <i class="fa fa-thumbs-o-down"></i> 12
                    </button>
                </div>
                <div class="col-md-9">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.
                </div>
            </div>
            <div class="row well">
                <div class="col-md-3">
                    <button class="btn btn-success">
                        <i class="fa fa-thumbs-o-up"></i> 0
                    </button>
                    <button class="btn btn-danger">
                        <i class="fa fa-thumbs-o-down"></i> 16
                    </button>
                </div>
                <div class="col-md-9">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.
                </div>
            </div>
            <hr>
            <div>
                <h4>Your Answer</h4>
                <textarea class="form-control" placeholder="Your answer..." rows="4"></textarea>
                <button class="btn btn-success">
                    <i class="fa fa-save"></i> Kaydet
                </button>
            </div>

        </div>
    </div>

</template>