<template name="askQuestion">
	<h1>Ask Question</h1>
	<hr />
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					New Question
				</div>
				<div class="panel-body">
					{{>askQuestionForm}}
				</div>
			</div>
			<hr />
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each questions}}
						<tr>
							<td>{{ title }}</td>
							<td width="1%">
								<button type="button" class="btn btn-danger btn-sm" id="delete">
									Delete
								</button>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>

</template>

