<head>
    <title>Mavidurak-IO</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<template name="layout">
    <div class="row demo-row">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'home'}}">
                        Mavidurak-IO
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-left">
                        {{#each menus}}

                            {{#if login}}
                                {{#if currentUser}}
                                    <li class="navbar-menu-li">
                                        <a  href="{{pathFor name}}" 
                                            data-menu-key="{{ name }}">
                                            {{ title }}
                                        </a>
                                    </li>                            
                                {{/if}}
                            {{else}}
                                <li class="navbar-menu-li">
                                    <a href="{{pathFor name}}" data-menu-key="{{ name }}">
                                        {{ title }}
                                    </a>
                                </li>                            
                            {{/if}}
                        {{/each }}
                        <li class="navbar-menu-li">
                            <a href="{{ pathFor 'askQuestion' }}">
                                Ask Question
                            </a>
                        </li>
                        {{> searchForm}}
                    </ul>
                    {{>login }}
                </div><!-- /.navbar-collapse -->
            </div>
        </nav><!-- /navbar -->
    </div> <!-- /row -->
    <div class="container">
        {{> yield}}
        {{> footer}}
    </div>
</template>
